.photo-card {
  list-style: none;
  width: calc(100% / 4 - 60px);
  border: solid 2px black;
  margin: 15px;
}

.gallery img {
  width: 100%;
}

.gallery {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  align-items: center;
  flex-wrap: wrap;
}
